    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123490600-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123490600-1');
    </script>

<title>Liga-wiedzy.pl</title>
  <meta name="description" content="Liga-wiedzy.pl - Gra quiz, w której odpowiadasz na pytania nie wybierając tylko wariantu odpowiedzi.">
  <meta name="keywords" content="jeden z dziesięciu, quiz, wiedza, liga amatorów, liga-wiedzy, liga, wiedzy">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato|Luckiest+Guy&display=swap" rel="stylesheet">
  <link href = "css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="css/main.css" media="screen and (min-width: 935px)" rel="stylesheet">
  <link href="css/main-mobile.css" media="screen and (max-width: 935px)" rel="stylesheet">
  <link href = "css/font-awesome.min.css" type="text/css" rel="stylesheet">